<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>胡萝卜阅读——阅读你的生活</title>
    {% load static %}
</head>
<body>
    <div style="background-image:url('/static/imgs/780.jpg'); float: left; width: 1500px; height: 2400px;font-size: 35px;word-spacing:40px; color:white;">
    <h1 style="text-align:center">朝花夕拾</h1>
    <p style="text-align:center"><img src="{% static 'imgs/01.jpg' %}"  alt="朝花夕拾" /></p>
    <p>一、作者简介</p>
    <p>鲁迅（1881年9月25日－1936年10月19日），曾用名周樟寿，后改名为周树人，曾字豫山，后改豫才，曾留学日本仙台医科专门校（现东北大学）。“鲁迅”是他1918年发表《狂人日记》时所用的笔名，也是他影响最为广泛的笔名，浙江绍兴人。著名文学家、思想家、民主战士，五四新文化运动的重要参与者，中国现代文学的奠基人。毛泽东曾评价：“鲁迅的方向，就是中华民族新文化的方向。” 
    鲁迅一生在文学创作、文学批评、思想研究、文学史研究、翻译、美术理论引进、基础科学介绍和古籍校勘与研究等多个领域具有重大贡献。他对于五四运动以后的中国社会思想文化发展具有重大影响，蜚声世界文坛，尤其在韩国、日本思想文化领域有极其重要的地位和影响，被誉为“二十世纪东亚文化地图上占最大领土的作家”。</p>
    <p>二、主要内容</p>
    <p>《朝花夕拾》里作者鲁迅用夹叙夹议的方法，以青少年时代的生活经历为线索，真实生动地叙写了自己从农村到城镇，从家庭到社会，从国内到国外的一组生活经历，抒发了对往昔亲友和师长的怀念之情，同时也对旧势力、旧文化进行了嘲讽和抨击。</p>
    <p>三、分篇介绍</p>
    <p>     ⑴《狗·猫·鼠》描写了作者仇猫的原因，取了“猫”这样一个类型，讽刺了生活中与猫相似的人。
            <br>
            ⑵《阿长与山海经》记述作者儿时与阿长相处的情景，表达了对她的怀念感激之情。
            <br>
            ⑶《二十四孝图》重点描写了在阅读“老莱娱亲”和“郭巨埋儿”两个故事时所引起的强烈反感，揭露了封建孝道的虚伪和残酷，揭示了旧中国儿童的可怜的悲惨处境。
            <br>
            ⑷《五猖会》以赶会为背景，描写了封建制度对儿童天性的束缚和摧残。
            <br>
            ⑸《无常》通过描写无常救人反遭毒打事件，表达了旧时代中国人民绝望于黑暗的社会，愤慨于人世的不平。
            <br>
            ⑹《从百草园到三味书屋》描述了作者儿时在家中百草园得到的乐趣和在三味书屋读书严格但不乏乐趣的生活，揭示儿童广阔的生活趣味与束缚儿童天性的封建书塾教育的尖锐矛盾。
            <br>
            ⑺《父亲的病》重点回忆儿时为父亲延医治病的情景，描述了几位“名医”的行医态度、作风、开方等种种表现，揭示了这些人巫医不分、故弄玄虚、勒索钱财、草菅人命的实质。
            <br>
            ⑻《琐记》回忆了隔壁家表面对孩子好，其实是暗中使坏的衍太太，描写了她是一个自私自利、奸诈、坏心眼的妇人。
            <br>
            ⑼《藤野先生》记录作者在日本留学时期的学习生活及他决定弃医从文的原因，表达了对藤野先生深切的怀念。
            <br>
            ⑽《范爱农》描述了范爱农在革命前不满旧社会，辛亥革命后又备受打击迫害的遭遇。</p>
    
        </div>
        
</body>
</html>
   