<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>胡萝卜阅读——阅读你的生活</title>
    {% load static %}
</head>
<body>
    
    <div>
        
    <div style="background-image:url('/static/imgs/780.jpg'); float: left; width: 1500px; height: 2400px;font-size: 35px;word-spacing:40px; color:white;">
    <h1 style="text-align:center">淘气包马小跳</h1>
    <p style="text-align:center"><img src="{% static 'imgs/03.jpg' %}"  alt="淘气包马小跳" /></p>
    <p>一、作者简介</p>
    <p>杨红樱，女，四川成都人。四川省作协副主席，1982年就职于成都某杂志社。18岁开始当小学老师，19岁开始童话创作。1998年加入中国作家协会。2010年第五届中国作家富豪榜首富。中国作家协会第九届全国委员会委员。</p>
    <p>二、主要内容</p>
    <p>该小说主要讲述了马小跳等孩子的成长生活以及他们和家长、老师、朋友的故事，并由此映射当代儿童的生活现实与心理现实，呼唤张扬孩子的天性，舒展童心、童趣，探析成人世界与儿童世界之间的隔膜误区，倡导理解沟通。</p>
    <p>三、人物介绍</p>
    <p>马小跳：作品主人公，人小胆大、思维跳跃、虚心好学、豪爽痛快。因为妈妈的肚子太舒服所以在里面待了十一个月还不肯出来。一百天的时候，他可以跳起来离桌三尺高。由此，爸爸把爷爷好不容易给他取的名字“马小骥”改成“马小跳”。他和唐飞、毛超、张达是死党，他们常常做些让秦老师头痛的事。
    <br>马天笑：玩具设计师。他不仅有童心、有爱心，能理解马小跳，而且还能和马小跳玩到一块，甚至两人比着玩。马天笑玩出了许多发明创造，但却没有一个人来买，后来得到马小跳会跳的灵感后造出了一个叫“跳跳娃”的玩具，才一举成名。
    <br>丁蕊：在马小跳心目中，她是全世界最漂亮的妈妈，马小跳叫她“宝贝儿妈妈”，马天笑叫她“宝贝儿”。她身材苗条，气质优雅，有一头美丽的波浪长发，是个标准的美人。星座是双鱼座，属相是老鼠却最怕老鼠，爱吃的食物是臭豆腐和榴莲。她的偶像是歌星张信哲和大侦探波洛，还曾模仿大侦探的断案能力来办过几件家庭“疑案”。
    <br>路曼曼：马小跳的同桌，班级的中队长。她尤其喜欢管理马小跳这类的捣蛋家伙；她喜欢上课举手回答问题，尤其是在班主任秦老师的课上；她最喜欢说的话就是“我要告诉秦老师！”，尤其是告诉秦老师马小跳的“罪行”。她倔强傲慢的外表下有一颗敏感的心，明明还是个小孩子，却总是装出一副大人的模样，在家长面前她懂事听话，在老师面前她勤劳能干，在同龄人面前她则表现出自信骄傲、争强好胜的样子。
    <br>安琪儿：马小跳门对门的邻居，也是马小跳的同班同学，她最崇拜的人就是马小跳。马小跳不怎么喜欢她，可如果有人欺负她，马小跳一定会挺身而出。安琪儿长着塌鼻子、厚嘴唇，大家都叫她“笨女孩”、“丑女孩”，就连她的妈妈也教育她要“笨鸟先飞”。安琪儿虽然有时候有些笨，例如把爸爸的满是球星签名的足球泡在盆里洗了，但她心地善良，懂得分享，更爱护小动物。
    </p>
    
        </div>
    <div>
        
</body>
</html>
   