<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>胡萝卜阅读——阅读你的生活</title>
    {% load static %}
</head>
<body>
    
    <div>
        
    <div style="background-image:url('/static/imgs/780.jpg'); float: left; width: 1500px; height: 2400px;font-size: 35px;word-spacing:40px; color:white;">
    <h1 style="text-align:center">三体</h1>
    <p style="text-align:center"><img src="{% static 'imgs/05.jpg' %}"  alt="三体" /></p>
    <p>一、作者简介</p>
    <p>刘慈欣，1963年6月出生于北京，祖籍河南省信阳市罗山，山西阳泉长大，本科学历，高级工程师，科幻作家，中国作家协会会员、第九届全委会委员，中国科普作家协会会员，山西省作家协会副主席，阳泉市作家协会副主席，中国科幻小说代表作家之一。</p>
    <p>二、主要内容</p>
    <p>文化大革命如火如荼地进行，天文学家叶文洁在期间历经劫难，被带到军方绝秘计划“红岸工程”。叶文洁以太阳为天线，向宇宙发出地球文明的第一声啼鸣，取得了探寻外星文明的突破性进展。三颗无规则运行的太阳主导下，四光年外的“三体文明”百余次毁灭与重生，正被逼迫不得不逃离母星，而恰在此时，他们接收到了地球发来的信息。对人性绝望的叶文洁向三体人暴露了地球的坐标，彻底改变了人类的命运。
    地球的基础科学出现了异常的扰动，纳米科学家汪淼进入神秘的网络游戏《三体》，开始逐步逼近这个世界的真相。汪淼参加一次玩家聚会时，接触到了地球上应对三体人到来而形成的一个秘密组织（ETO）。地球防卫组织中国区作战中心通过“古筝计划”，一定程度上挫败了拯救派和降临派扰乱人类科学界和其他领域思想的图谋，获悉处于困境之中的三体人为了得到一个能够稳定生存的世界决定入侵地球。在运用超技术锁死地球人的基础科学之后，庞大的三体舰队开始向地球进发，人类的末日悄然来临</p>
    <p>三、人物介绍</p>
    <p>叶文洁：（《三体》）物理学家叶哲泰的女儿，父亲坚持不肯向非理性的狂热屈服而被批斗致死，她在那个极端年代里的悲惨遭遇，使善良而温和的她对人性失去信心，由于她在天体物理学上的非凡成就，得以与外太空的另一种生命发生联系，她以冷酷的理性向三体人发送信号并把其引到地球，初衷是借外星人的力量来引导人类更好的去发展，她在理性思考人性本质的同时，一直处于对自己的道德批判中，但短暂的动摇很快就被她看到的人们的丑恶打消了，她对人性恶的一面的理性思考使她陷入深重的精神危机，而这种精神偏执促使她成为地球三体组织的领导者。（《黑暗森林》）她基于半生心血总结出宇宙社会学的公理，并首先提出猜疑链、技术爆炸两个重要概念，启发了罗辑发现宇宙奥秘 。
    <br>汪淼：（《三体》）物理学教授，他经由申玉菲进入科学边界，并开始了解“三体”游戏里虚拟的文明，他领导研究的纳米材料还为地球防卫军获得ETO情报提供了技术支持。
    <br>史强：（《三体》）从未仰望过星空的粗俗警察，具有世俗智慧和原始生命力，展示出惊人的自信和能量，他观察敏锐、果敢决绝，具有极强的行动能力，凭借多数人都拥有的“常识”，以顽强的技能求得生存，史强如定海神针一般稳固理性者汪淼的信心，并带领陷入了绝望的科学家去见识蝗虫肆虐的景象，使他们领悟到“虫子”的顽强和重获希望。
    </p>
    
        </div>
    <div>
        
</body>
</html>