<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>胡萝卜阅读——阅读你的生活</title>
    {% load static %}
</head>
<body>
    
    <div>
        
    <div style="background-image:url('/static/imgs/780.jpg'); float: left; width: 1500px; height: 2400px;font-size: 35px;word-spacing:40px; color:white;">
    <h1 style="text-align:center">后来的我们</h1>
    <p style="text-align:center"><img src="{% static 'imgs/09.jpg' %}"  alt="后来的我们" /></p>
    <p>一、作者简介</p>
    <p>玉面小七郎，若初文学网签约作者，著有《回不去的旧时光》、《那个男人教会我的事》、《爱上我，你无路可退》。</p>
    <p>二、主要内容</p>
    <p>因为一场变故，宋洛云对男人产生了恐惧心理。因为这场变故，宋洛云的婚姻走到了尽头。从此她只想守着自己的心，画地为牢，平静度日。命运却不甘寂寞它把那个消失了七年的超级学渣再次“扔”到她面前只是，只是！只是，他看起来好像没高中时那么讨厌了……</p>
    <p>高中时，她是校花学霸，他是超级学渣他嚣张放肆的喊话：宋洛云是我的女朋友，谁也不准打她主意。一场高考，各自天涯，他自此才懂他与她的差距。
            七年的时光，他用尽一切办法让自己变得更好。再见，她已经成为了别人的妻子还好，还好那个人不懂珍惜她关孝城：这一次，我准备好了，洛洛，你呢？</p>
    <p>三、图书目录</p>
    <p>第一章 是我对不起你
    <br>第二章 见鬼，他怎么也在这里？
    <br>第三章 友好离婚
    <br>第四章 吵架能手
    <br>第五章 宋洛云的姐姐
    <br>第六章 意外
    <br>第七章 公告
    <br>第八章 宣战
    <br>第九章 喝多了
    <br>第十章 你什么时候结婚？
    <br>第十一章 吃面
    </p>
    
        </div>
    <div>
        
</body>
</html>