<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>胡萝卜阅读——阅读你的生活</title>
    {% load static %}
</head>
<body>
    
    <div>
        
    <div style="background-image:url('/static/imgs/780.jpg'); float: left; width: 1500px; height: 2400px;font-size: 35px;word-spacing:40px; color:white;">
    <h1 style="text-align:center">倾城之恋</h1>
    <p style="text-align:center"><img src="{% static 'imgs/11.jpg' %}"  alt="倾城之恋" /></p>
    <p>一、作者简介</p>
    <p>张爱玲（1920年9月30日—1995年9月），原名张煐，笔名梁京，祖籍河北丰润，生于上海，中国现代女作家。7岁开始写小说，12岁开始在校刊和杂志上发表作品。1943至1944年，创作和发表了《沉香屑·第一炉香》《沉香屑·第二炉香》《茉莉香片》《倾城之恋》《红玫瑰与白玫瑰》等小说。1955年，张爱玲赴美国定居，创作英文小说多部，但仅出版一部。1969年以后主要从事古典小说的研究，著有红学论集《红楼梦魇》。1995年9月在美国洛杉矶去世，终年75岁。有《张爱玲全集》行世。</p>
    <p>二、主要内容</p>
    <p>故事发生在香港，上海来的白家小姐白流苏，经历了一次失败的婚姻，身无分文，在亲戚间备受冷嘲热讽，看尽世态炎凉。偶然认识了多金潇洒的单身汉范柳原，便拿自己当做赌注，远赴香港，博取范柳原的爱情，要争取一个合法的婚姻地位。两个情场高手斗法的场地在浅水湾饭店，原本白流苏似是服输了，但在范柳原即将离开香港时，日军开始轰炸浅水湾，范柳原折回保护白流苏。狂轰滥炸，生死交关，牵绊了范柳原，流苏欣喜中不无悲哀，够了，如此患难，足以做十年夫妻。</p>
    <p>三、创作背景</p>
    <p>旧式大家庭是张爱玲本人最熟悉的场景。“深爱只是为了谋生”这种冷酷的婚恋观，跟她的父母婚姻阴影有关。幼年的父母离异、家族的败落都给她的心灵造成极大的创伤。她从父母亲族身上，看到了更多旧式婚姻的苍凉。作品中的女性几乎很少是追求自身价值的强者，他们找不到自我的存在，也极少拥有过纯真浪漫的爱情。她们的爱情婚姻纯粹是谋生手段，是求生的筹码。她们清醒地知道自己是男人的附庸，是传宗接代的工具，所以就尽力利用男人的需求来谋求自己的利益。婚姻是双方权衡利益下的交易，在这场交易中，经济利益当然是主角，爱情婚姻成了女性谋生的工具。为了谋生而成家，婚姻也只是一种交易，这构成了女性苍凉的人生。她极力描写这种“废墟之爱”——无爱的婚姻。这种婚姻不是建立在爱的基础上，而是女性对生活做出的无奈抉择。因此可以说，在《倾城之恋》中，张爱玲虽然以白流苏得到婚姻这样圆满的结局作为收笔，但丝毫没有削弱小说的悲剧性，反而让人感到更加浓重。
    </p>
    
        </div>
    <div>
        
</body>
</html>