<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>胡萝卜阅读——阅读你的生活</title>
    {% load static %}
</head>
<body>
    
    <div>
        
    <div style="background-image:url('/static/imgs/780.jpg'); float: left; width: 1500px; height: 2400px;font-size: 35px;word-spacing:40px; color:white;">
    <h1 style="text-align:center">目送</h1>
    <p style="text-align:center"><img src="{% static 'imgs/13.jpg' %}"  alt="目送" /></p>
    <p>一、作者简介</p>
    <p>龙应台，1952年2月13日生于中国台湾高雄大寮乡眷村，现代作家。1988年迁居德国，在法兰克福大学任教授。1998年，她的三部书《啊，上海男人》、《这个动荡的世界》、《故乡异乡》在上海相继发行。1999年，龙应台出任台北市首任文化局局长。2008年在香港大学教授任上获评为孔梁巧玲杰出人文学者。</p>
    <p>二、主要内容</p>
    <p>《目送》散文集共由七十三篇散文组成，是为一本情感性的文集。书中，龙应台写父亲的死亡、母亲的衰老和失智；写对父母的怜惜和体恤，写兄弟携手共行，儿子的离别，朋友的牵挂；写自己的失败和脆弱，失落和放手，以及一个人的走路、赏树、观鸟、拍照、生活等。从牵着孩子幼小的手、情意满满的亲情，到青春后期孩子与自己渐行渐远的背影；从陪着年迈母亲如带着女儿一般，思及自己也曾是父母眼前一去不返的背影，龙应台娓娓道来。正如作者所说：“我慢慢地、慢慢地了解到，所谓父女母子一场，只不过意味着，你和他的缘分就是今生今世不断地在目送他的背影渐行渐远。你站在小路的这一端，看着他逐渐消失在小路转弯的地方，而且，他用背影默默地告诉你，不用追。”</p>
    <p>三、作品赏析</p>
    <p>
        《目送》这本书，细加辨析的话，慈为慈爱、和善，是输一己之善良关爱于外界，方向向外；悲，为悲悯、同情，是纳别人之痛楚无奈于胸怀，方向向内。无慈难以成悲，无悲亦难以为慈。这两者，互为因果，常常相辅相成，每每联袂而行。
        <br>在《目送》中，龙应台明显地将笔触伸向了“人”的内心世界，用散文的方式，述说着生命中的悲欢离合。她娓娓述说，述说着亲情的血浓于水，也述说着亲情离去的无奈与锥心疼痛，但更多的是告诉人们亲人的重要与亲情的珍贵，“作为父母的子女，作为子女的父母，彼此的身份，是在一生之中一次又一次的目送中完成转换——只是第一次的目送是成长，最后一次的目送却永别。” 这或许就是龙应台想要告诉给我们的生活与生命的本真。这些温情的语言，如一剂醒脑益智的良药，使我们深陷尘世羁绊的心灵，一次次得到解脱和自省。
    </p>
    
        </div>
    <div>
        
</body>
</html>