<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>胡萝卜阅读——阅读你的生活</title>
    {% load static %}
</head>
<body>
    
    <div>
    <div style="background-image:url('/static/imgs/780.jpg'); float: left; width: 1500px; height: 2400px;font-size: 35px;word-spacing:40px; color:white;">
    <h1 style="text-align:center">撒哈拉的故事</h1>
    <p style="text-align:center"><img src="{% static 'imgs/15.jpg' %}"  alt="撒哈拉的故事" /></p>
    <p>一、作者简介</p>
    <p>三毛，台湾著名作家，英文名：ECHO,1943年3月26日出生于重庆，浙江省定海县人。本名为陈懋平，1946年改名陈平，笔名“三毛”，1964年进入文化大学哲学系，肄业后曾留学欧洲，婚后定居西属撒哈拉沙漠加纳利群岛，并以当地的生活为背景，写出一连串情感真挚的作品。1981年回到台湾，曾在文化大学任教，1984年辞去教职，专职从事写作和演讲，1991年1月4日在台北士林区荣民总医院病房卫生间里，三毛用丝袜上吊自杀身亡，终年48岁。</p>
    <p>二、主要内容</p>
    <p>《撒哈拉的故事》主要描写了三毛和荷西在撒哈拉沙漠生活时的所见所闻，与当地相识朋友的故事，每个故事都透露出这个隐忍女子对生活的热爱和面对困难的坚定。由十几篇精彩动人的散文结合而成，其中《沙漠中的饭店》，是三毛适应荒凉单调的沙漠生活后，重新拾笔的第一篇文章，从此之后，三毛便写出一系列以沙漠为背景的故事。
    <br>三毛用自己的心去适应、关怀这片大沙漠，在她的笔下，那些撒哈拉沙漠的人和物变得丰富多彩。三毛以一个流浪者的口吻，轻松地讲述着她在撒哈拉沙漠零散的生活细节和生活经历：沙漠的新奇、生活的乐趣，千疮百孔的大帐篷、铁皮做的小屋、单峰骆驼和成群的山羊。书中无论是荷西把粉丝当做雨来吃，还是他们简单得不能再简单的婚礼、去海边打鱼、白手起家建立他们沙漠上最美丽的房子，都渗透着彼此间浓浓的温馨的爱意。</p>
    <p>三、作品赏析</p>
    <p>
    《撒哈拉的故事》散文集里面的每篇散文的开头几乎都有一个语言环境限定了整篇文章的语调、环境、氛围。在这样的限定下，散文的语言表达就受到了一定限制。比如说《素人渔夫》这篇描写的是三毛和丈夫荷西在经济周转不灵的情况下，为了维持生计，自己下海捕鱼买鱼的事情，这也是夫妻俩柴米油盐酱醋茶的平凡生活中的一些幽默风趣之处的再现。在这样的环境的限定下，整篇散文这个故事情节都是围绕着夫妻的对话展开的，只能采用一种平和、轻快、率性浪漫的表达方式。再如《哭泣的骆驼》，整体上都是一种极度悲凉的氛围，这里就不能适用一种明快、欢乐的表达方式，否则就与整篇文章的基调不适应，三毛在此就巧妙地运用映衬的表达手段，通过对周围景物的一种凄凉感的细致描绘，烘托了游击队领袖巴西里被自己人出卖，他的妻子沙伊达，那个受过高度文明教育的可爱的沙漠女子，却被诬蔑说她出卖了她自己的丈夫而被欺凌至死的一种无限悲凉。
    </p>
    
        </div>
    <div>
        
</body>
</html>